<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="logo"> <a href="/home"><img src="/images/logos/logo-transparent.png" alt="Logo"></a> </div>
        <div class="nav-ele">
            <ul>
                <li ><a href="/home">Home</a></li>
                <li class="hide"><a href="/post">Post</a></li>
                <li class="hide"><a href="/adopt">Adopt</a></li>
                <li class="hide"><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to MissingMeow, a community-driven platform dedicated to helping lost cats find their way home and
            connecting them with loving families. Our mission is to reunite lost pets with their owners and provide a
            safe haven for cats in need of adoption.</p>
        <p>We believe that every cat deserves a second chance, and through our platform, we aim to make it easier for
            people to post about missing or found cats, search for available cats for adoption, and share their stories
            with the community.</p>
        <p>Join us in our mission to create a better world for cats and their families. Together, we can make a
            difference!</p>

</body>
</html>