<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <div class="logo"><a href="/home"><img src="/images/logos/logo-transparent.png" alt="Logo"></a> </div>
        <div class="nav-ele">
            <ul>
                <li class="hide"><a href="/home">Home</a></li>
                <li class="hide"><a href="/post">Post</a></li>
                <li class="hide"><a href="/adopt">Adopt</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="main-body">
        <div class="title-box">
            <h1>Helping Lost Cats
                Find <br> Their Way <span>Home</span></h1>
            <p>
                Join our community to help reunite lost cats with their families and find loving homes for those in
                need.
                If you've found or lost a cat, use the Post and Search options below. Interested in adoption? Explore
                available cats with the Search button.
            </p>
        </div>
        <div class="cus-devider"></div>
        <div class="route-box">
            <div class="left-box">
                <h2><a href="/post">Post</a></h2>
                <h2><a href="/adopt">Search</a></h2>
            </div>
            <!-- <div class="right-box">
                <img src="/images/logos/Copilot_20250624_182825.png" alt="cat png">
            </div> -->
        </div>
    </div>
</body>

</html>