@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('/images/logos/Copilot_20250625_180243.png'); */
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: rgba(-135deg, 2, 2, 2, 0.2);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #911fd3;
    border-radius: 10px;
}

.logo {
    margin-left: 100px;
}

.logo img {
    width: 100px;
    height: auto;
    filter: brightness(0) invert(100%);
}

.nav-ele>ul {
    margin-right: 100px;
    border-radius: 5px;
    color: aliceblue;
    /* margin-right: 100px; */
    gap: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    list-style-type: none;

}

.nav-ele>ul>li {
    margin-left: 20px;
    padding: 6px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #000000;
}

.cont>* {
    background-color: #23272f;
    border-radius: 20px;
}

.child1 {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child1 h1 {
    font-size: 4rem;
    font-family: 'lora', serif;
    color: #fff;
    text-align: center;
}

.child2 {
    height: calc(75vh - 55px);
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow: auto;
}

.post-cards {
    height: 350px;
    max-height: 400px;
    background-color: #353b46;
    width: 350px;
    max-width: 400px;
    border: 2px solid rgb(180, 175, 175);
    border-radius: 15px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.post-cards .img {
    width: 240px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.post-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.plc-time {
    /* background-color:#cfcccc ; */
    font-size:  1rem; 
    font-family: 'lora', serif;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
}

.disc{
    width: 100%;
    padding: 10px;
    background-color: #2c2f33;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.post-cards p {
    /* border: 2px solid #0062ff; */
    padding-left: 10px;
    /* margin-top: 10px; */
    max-height: auto;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}
.post-date{
    color: rgb(255, 255, 255);
}

/* .post-cards :hover {
    transform:scaleX(1.2);
    transition: all 1s linear;
} */

@media (max-width: 768px) {
    .hide {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .nav-ele>ul {
        margin-right: 10px;
    }

    body {
        background-image: none;
    }

    .main-body {
        height: auto;
    }
    .child1 h1{
        color: #ccc;
        font-size: 3rem;
    }
}